<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Interested in what will soon be here?</h1>
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>The Following Platforms are ways you can contact Us</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://discord.gg/dc78Nb">
                <i class="fab fa-discord fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Alpha Testing</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:admin@crucible.wtf">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>admin@crucible.wtf</p>
            </a>
        </div>

    </div>
</section>
