<header>
    <div class="header-content">
        <div class="header-content-inner">

            <hr>
            <h6>Crucible is currently under development and is going to be the industry standard in social networking for eSports. In this platform you will have the capability to; share videos and content, stream and earn more money than any other site, buy and sell games, consoles and merch, chat with friends and make new friends and the big step up from everything that exists today, tournaments. Anyone will be able to host a tournament and those hosts will be able to earn cash. We will support a myriad of games that will be hosted directly from the website as well as additional games that will be hosted by Crucible alone. This is a very exciting future for eSports and all gamers that enjoy sharing content and participating in tournaments both public and private. We invite you to join us in our Alpha testing and gain an early spot in Crucible!</h6>
            <h7>If you would like to get updates of our progress send an email to info@crucible.wtf. We hate spam too and will only give updates as we deem them necessary!</h7>
            <a href="mailto:info@crucible.wtf" class="btn btn-primary btn-xl page-scroll">Email</a>
            <a href="https://discord.gg/YJdDgPb" class="btn btn-primary btn-xl page-scroll">Alpha</a>
        </div>
    </div>
</header>
